body {
    background-color: #F0F2F5;
    display: flex;
  height: 100vh;
  align-items: center;
}

input {
    padding-bottom: 24px;
    padding-top: 10px;
    font-size: 17px;
    width: 310px;
    padding: 14px 16px;
    border-radius: 6px;
    outline: none;
    /* outline-color: rgb(120, 120, 214); */
    /* box-shadow: 1px solid blue; */
    border: 1px solid #dddfe2;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 27px;


}

input:focus {
    border-color: #1b74e4;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1b74e4;
}

.fr {
    /* text-align: right;
    margin-right: 50px;
    border: 2px solid black;
    width: 364px;
    padding: 16px 16px;
     margin-left: px;
    border-radius: 10px;
    text-align: center; */
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    /* margin: px 0 0; */
    padding: 40px 0 40px;
    width: 396px;
    margin-left: 60px;
    /* margin-top: 165px; */
}

.log {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 25px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    margin-left: 30px;
    cursor: pointer;
    padding: 6px 0px 0px;
    padding: 0px 16px;
    margin-top: 10px;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    text-decoration-style: solid;
}

.log a{
    font-weight:550;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}
.cr{
    background-color: #42B72A;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: solid;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

.for {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #1877f2;
    border: none;
    text-align: center;
    margin: 15px;
}

a {
    text-decoration: none;
}

hr {
    margin: 20px 16px;
    border: 1px solid #dadde1;
    line-height: 1.34;
}

img {
    height: 106px;
    width: 600px;
    margin: auto;
    /* margin-top: 5px; */
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.facebook {
    /* padding: px 0px 16px; */
    margin: -28px;
    width: 20%;
    font-weight: normal;
    line-height: 28px;
}

.container {
    font-size: 24px;
    color: #1c1f21;
    padding: 0px 0px 20px;
    font-family: Helvetica, Arial, sans-serif;
    width: 450px;
    margin-left: 140px;
}

.inpu1 {
    padding: 10px 0px;
}
.las{
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
    display:flow-root;
    margin-right: 80px;
    text-align: center;
    margin-top: 28px;
    margin-left: 110px;

}
